/*/
/*

!.zshrc
!.gitignore
!.gitconfig
!.p10k.zsh
!README.md
!init_configs.sh
!init_env.sh

!/.config/
/.config/*

!/.config/aerospace.toml
!/.config/sketchybar/
!/.config/nvim/
!/.config/lvim/
!/.config/kitty/
!/.config/wezterm/
!/.config/lazygit/
!/.config/zsh/
!/.config/stern/
