[user]
        name = Rami Daghlawi
        email = rami.daghlawi@gmail.com
[help]
	autocorrect = 20
[credential]
  helper = store

[alias]
  mergetool = "!nvim -c DiffviewOpen"

[pull]
	rebase = true
[init]
	defaultBranch = main
