git:
  pull:
    mode: rebase
  notARepository: 'skip'
  pagers:
    - colorArg: always
      # pager: delta --dark --paging=never
gui:
  sidePanelWidth: 0.2
  showFileTree: true # for rendering changes files in a tree format
  theme:
    lightTheme: false
    activeBorderColor:
      - reverse
      - '#3d65a1'
    cherryPickedCommitBgColor:
      - blue
    cherryPickedCommitFgColor:
      - cyan
    inactiveBorderColor:
      - '#3d59a1'
    optionsTextColor:
      - '#545c7e'
    selectedLineBgColor:
      - '#545c7e'
    selectedRangeBgColor:
      - reverse
os:
  edit: 'nvim'
reporting: "off"
keybinding:
  universal:
    quit-alt1: '<esc>' # alternative/alias of quit
customCommands:
  - key: b
    command: tig blame -- {{.SelectedFile.Name}}
    context: files
    description: blame file at tree
  - key: b
    command: tig blame {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at revision
  - key: B
    command: tig blame -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: blame file at tree
  - key: t
    command: tig {{.SelectedSubCommit.Sha}} -- {{.SelectedCommitFile.Name}}
    context: commitFiles
    description: tig file (history of commits affecting file)
  - key: t
    command: tig -- {{.SelectedFile.Name}}
    context: files
    description: tig file (history of commits affecting file)
